#home-page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.295), 
    rgba(0, 0, 0, 0.144)), url("../img/carlsbad-sign.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color:white;
}

#port-container-dark{
    background-image: linear-gradient(rgba(0, 0, 0, 0.733), 
    rgba(0, 0, 0, 0.411)), url("../img/carlsbad-sign-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color:white;
}

#my-info{
    position: relative;
    margin: auto;
    padding-top: 10vh;
    width: 50%;
    text-align: center;
}

#name{
    font-size: 80px;
    font-weight: 500;
}

@keyframes hovering{
    from{transform: scale(1.1,1.1)};
    to{transform: scale(1,1)}
}
#name:hover{
    animation-name: hovering;
    animation-duration: 1s;
    text-shadow: 1px 1px 2px black, 
    0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);

}

#current:hover{
    animation-name: hovering;
    animation-duration: 1s;
    transition: .4s ease;
    text-shadow: 1px 1px 2px black, 
    0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}

#future:hover{
    animation-name: hovering;
    animation-duration: 1s;
    transition: .4s ease;
    text-shadow: 1px 1px 2px black, 
    0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}

#marine:hover{
    animation-name: hovering;
    animation-duration: 1s;
    transition: .4s ease;
    text-shadow: 1px 1px 2px black, 
    0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}

