.menu{
    position: absolute;
    left: -50%;
    top: 0;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 30px;
    border: black solid 2px;
    padding:5px;
    z-index: 1;
    opacity: 0;
    transition-duration: 1s;
}
.menu.open{
    transition-duration: 1s;
    left: -10%;
    opacity: 1;
}

#btn-wrapper{
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: transparent;
    border: none;
    z-index: 2;
}
#btn-wrapper:focus{
    outline: none;
    box-shadow: none;
}


.top, .mid, .bot{
    position: relative;
    margin-top:6px;
    margin-bottom:6px;
    background-color: white;
    width: 45px;
    height: 5px;
    border-radius: 20px;
    transition-duration: 1s;
}

.top.open{ 
    transition-duration: 1s;
    transform: rotate(45deg) translate(0,10px)
}
.mid.open{
    transition-duration: 1s;
    transform: rotate(225deg);
    opacity: 0;
}
.bot.open{
    transition-duration: 1s;
    transform: rotate(-45deg) translate(5px,-16px)
}

#menu-items{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

#each-item{
    padding: 10px;
    font-size: 23px;
}

#each-item:hover{
    cursor: pointer;
    color: rgb(194, 191, 47);
}

@media only screen and (min-width: 400px) {
    .menu{
        position: absolute;
        left: -50%;
        top: 0;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.76);
        border-radius: 30px;
        border: black solid 2px;
        padding:5px;
        z-index: 1;
        opacity: 0;
        transition-duration: 1s;
    }

    #each-item{
        margin-left: 7vw;
        padding: 10px;
        font-size: 30px;
    }
}