#menu{
    position: relative;
    padding:10px;
    width: 100%;
    width: 100%;
    background-color: transparent;
}

#btn-wrapper{
    background-color: transparent;
    border: none;
}
#btn-wrapper:focus{
    outline: none;
    box-shadow: none;
}

#top, #mid, #bot{
    position: relative;
    margin-top:6px;
    margin-bottom:6px;
    background-color: white;
    width: 30px;
    height: 4px;
}




#my-portfolio{
    padding-top: 8px;
    color:rgb(255, 255, 255);
    transition: color 1s ease-in;
    transition-delay: 3s;
}
#my-portfolio:hover{
    cursor: pointer;
    text-decoration: none;
    transition: .4s ease-in;
    text-shadow: 1px 1px 2px black, 
    0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}
#my-portfolio:focus{
    animation-name: clicking;
    animation-duration: 1s;
}

@keyframes clicking{
    from{transform: scale(1.2,1.2)};
    to{transform: scale(1,1)}
}